body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
